body {
    background-image: url(../images/featuredgame-bg.jpg);
}

div#containerM {
    background-image: url(../images/how-play.jpg);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
}

div#titleMsg {
    text-align: center;
    width: fit-content;
    height: fit-content;
    color: red;
}

div#titleMsg h2 {
    color: green;
}

div#mainMsg {
    text-align: center;
    width: fit-content;
    height: fit-content;
    color: rgb(211, 176, 240);
}

div#mainMsg a {
    color: rgba(211, 176, 240, 0.548);
}

div#mainMsg a:hover {
    color: rgb(211, 176, 240);
}